@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: Oswald;
	src: url(fonts/Oswald-Medium.ttf);
}

ol#tabs {
	height: 8ex;
	list-style: none;
	background-image:
		linear-gradient(#bbbbbb, black, #bbbbbb)
}

ol#tabs li {
	font-size: 24;
	padding-top: 1ex;
	padding-left: 2em;
	float: left;
}

ol#tabs a {
	font-family: Oswald;
	text-decoration: none;
	color: white;
}

#header {
    	background-image:linear-gradient(#bbbbbb, black, #bbbbbb);
	color:white;
	height:4ex;
    text-align:center;
}
.bio-container {
	margin: 2em 2em 2em 2em;
	overflow: auto;
	float:center;
}

.tutor-container {
	margin: 2em 2em 2em 2em;
}

.profile { width: 20em; float: left; }

.profile img {
	display: block;
	width: 18em;
}

.title { text-align: center; font-family: "Roboto", Serif}

.contact {
	text-align: center; float: center;
}

.contact img {
	height:50px;
	display:inline-block;
	float: center;
}

ul.a {
	display:inline;
	list-style-type: circle;
	float:center;
	font-family: "Roboto", "Arial",Sans-Serif;
}

.bio-text {
	text-align: justify;
	max-width: 50em;
	float:center;
}

.gen-text {
	text-align: left;
	max-width: 50em;
	float:center;
}

.gen-text-container {
	margin: 2em 2em 2em 2em;
	float:center;
}


.gen-text a {
	font-family: "Roboto", "Arial", Sans-Serif;
}
.gen-text a:link { text-decoration: none; color:#bbbbbb;}
.gen-text a:visited { text-decoration: none; color:#bbbbbb;}
.gen-text a:hover { text-decoration: underline; color:black;}

p { font-family: "Roboto", "Arial", Sans-Serif; }

footer {
	position: absolute;
	bottom: 5;
	line-height: 1em;
	font-size: 0.5em;
	/* float: bottom; */
}
